<div
    class="relative z-50 flex w-full items-center px-4 p-2 dark:bg-transparent print:hidden bg-[#F8F8FC] justify-between rounded-2xl">
    <!-- <app-chat-land></app-chat-land> -->
    <!-- Logo -->
    <div class="flex items-center gap-2 w-[250px] h-[42px]">
        <img src="/assets/logo.png" alt="">
    </div>
    <div class="flex">
        <div class="pr-3">
            <button type="button"
                class="relative inline-flex justify-center pl-1 items-center w-[50px] h-[50px] text-xl font-medium text-center text-white bg-[#FF0000] rounded-full hover:bg-[#FF0000] focus:ring-4 focus:outline-none focus:ring-[#FF0000] dark:bg-[#FF0000] dark:hover:bg-[#FF0000] dark:focus:ring-[#FF0000]">
                <img src="/assets/telephone.png" alt="">
            </button>
        </div>
        <div class="pr-3">
            <button type="button"
                class="relative inline-flex justify-center pl-2 items-center w-[50px] h-[50px] text-xl font-medium text-center text-white bg-[#202125] rounded-full hover:bg-[#202125] focus:ring-4 focus:outline-none focus:ring-[#202125] dark:bg-[#202125] dark:hover:bg-[#202125] dark:focus:ring-[#202125]">
                <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                    viewBox="0 0 20 16">
                    <path
                        d="M12.133 10.632v-1.8A5.406 5.406 0 0 0 7.979 3.57.946.946 0 0 0 8 3.464V1.1a1 1 0 0 0-2 0v2.364a.946.946 0 0 0 .021.106 5.406 5.406 0 0 0-4.154 5.262v1.8C1.867 13.018 0 13.614 0 14.807 0 15.4 0 16 .538 16h12.924C14 16 14 15.4 14 14.807c0-1.193-1.867-1.789-1.867-4.175ZM3.823 17a3.453 3.453 0 0 0 6.354 0H3.823Z" />

                </svg>
                <span class="sr-only">Notifications</span>
                <div
                    class="absolute inline-flex items-center justify-center w-6 h-6 text-xs font-medium text-white bg-red-500 border-2 border-white rounded-full -top-1 -left-2 dark:border-gray-900">
                    20</div>
            </button>
        </div>
        <div class="pr-3">
            <button type="button"
                class="relative inline-flex justify-center pl-1 items-center w-[50px] h-[50px] text-xl font-medium text-center text-white bg-[#FF0000] rounded-full hover:bg-[#FF0000] focus:ring-4 focus:outline-none focus:ring-[#FF0000] dark:bg-[#FF0000] dark:hover:bg-[#FF0000] dark:focus:ring-[#FF0000]">
                <img src="/assets/telephone.png" alt="">
            </button>
        </div>
        <div>
            <img class="w-[50px] h-[50px] rounded-full" src="/static/images/public/banner_img_login.webp"
                alt="Rounded avatar">
        </div>

    </div>

</div>