<div class="col-span-12 shadow-md rounded-md bg-white dark:bg-gray-800 mt-3">
    <div class="flex justify-center flex-col p-3 gap-2">
        <div>
            <span class="text-blue-500 dark:text-blue-400">NPS</span>
        </div>
        <div class="relative text-center max-w-[250px] mx-auto">
            <svg viewBox="0 0 100 57" xmlns="http://www.w3.org/2000/svg" fill="none" class="w-full h-auto">
                <defs>
                    <linearGradient id="gradient" x1="0%" y1="100%" x2="100%" y2="0%">
                        <stop offset="0%" style="stop-color:#4CAF50;stop-opacity:1"></stop>
                        <stop offset="50%" style="stop-color:#FFC107;stop-opacity:1"></stop>
                        <stop offset="100%" style="stop-color:#F44336;stop-opacity:1"></stop>
                    </linearGradient>
                </defs>
                <path d="M10,50 A40,40 0 0,1 90,50" stroke="url(#gradient)" stroke-width="4" fill="none" />
                <path d="M50,50 L50,20" stroke="#333" stroke-width="3" stroke-linecap="round" />
            </svg>
            <div
                class="absolute top-1/2 left-1/2 transform -translate-x-1/2 translate-y-[20%] text-2xl font-bold mt-12 text-gray-900 dark:text-gray-100">
                02:50
            </div>
        </div>

        <div class="mt-2 text-sm text-gray-700 dark:text-gray-400">
            This is overall time, which includes Voice, Chat and Email
        </div>
    </div>

    <div class="shadow-md p-2 rounded-md bg-blue-50 dark:bg-blue-900 mt-4">
        <div class="flex">
            <span class="px-2 text-gray-900 dark:text-gray-100">Voice</span>
            <div class="border-b border-gray-400 dark:border-gray-600 flex-1"></div>
            <span class="px-2 text-gray-900 dark:text-gray-100">0</span>
        </div>
        <div class="flex">
            <span class="px-2 text-gray-900 dark:text-gray-100">Chat</span>
            <div class="border-b border-gray-400 dark:border-gray-600 flex-1"></div>
            <span class="px-2 text-gray-900 dark:text-gray-100">24</span>
        </div>
        <div class="flex">
            <span class="px-2 text-gray-900 dark:text-gray-100">Email</span>
            <div class="border-b border-gray-400 dark:border-gray-600 flex-1"></div>
            <span class="px-2 text-gray-900 dark:text-gray-100">100</span>
        </div>
    </div>
</div>