<div class="flex flex-col h-screen">
    <!-- Header -->
    <header class="bg-gray-800 text-white">
        <app-header></app-header>
    </header>

    <div class="flex flex-1 overflow-hidden">
        <!-- Sidebar -->
        <aside class="bg-gray-700 text-white transition-width duration-300 ease-in-out overflow-y-auto">
            <app-project-sidebar></app-project-sidebar>
        </aside>

        <!-- Content -->
        <main class="flex-1 p-4 bg-slate-200">
            <app-dashboard></app-dashboard>
        </main>
    </div>
</div>