<div class="shadow-md bg-white dark:bg-gray-800 rounded-md p-3 w-full">
    <span class="text-primary dark:text-white">
        NPS
    </span>

    <div class="p-2 flex justify-center">
        <span class="text-lg font-medium">NPS Score </span>
        <span class="text-lg text-green-600 font-medium">100</span>
    </div>

    <div class="flex items-center w-full">
        <div class="mr-1">
            <span>👨‍🦳</span>
        </div>
        <div class="flex-1">
            <div class="relative h-4 bg-gray-300 dark:bg-gray-600 rounded">
                <div class="absolute top-0 left-0 h-full bg-green-600 dark:bg-green-500 rounded" style="width: 100%;">
                </div>
            </div>
        </div>
        <div class="ml-1">
            <span>👨‍🦳</span>
        </div>
    </div>
</div>