<ng-template #FormTemplate>
    <div class="lg:col-span-2 max-w-lg w-full p-6 mx-auto">
        <div class="mx-auto w-full">
            <!-- Logo -->
            <h1 class="w-12 text-4xl font-extrabold leading-tight tracking-tight">
                SafeGuard
            </h1>
            <!-- / -->
            <div class="mt-8 text-4xl font-extrabold leading-tight tracking-tight">
                Sign up
            </div>
            <div class="mt-0.5 flex items-baseline font-medium">
                <div>Already have an account?</div>
                <a href="javascript:void(0);" [routerLink]="routeService.login"
                    class="text-blue-600 font-semibold hover:underline ml-1 whitespace-nowrap">
                    Sign in
                </a>
            </div>
            <form [formGroup]="signUpForm" (ngSubmit)="onSubmit()" class="mt-8 w-full">
                <!-- Full Name Field -->
                <div class="relative mb-6">
                    <label for="name" class="block text-gray-700 text-sm font-medium mb-1">Full name</label>
                    <input id="name" type="text" formControlName="name" autocomplete="off"
                        class="block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>
                <!-- / -->

                <!-- Email Field -->
                <div class="relative mb-6">
                    <label for="email" class="block text-gray-700 text-sm font-medium mb-1">Email address</label>
                    <input id="email" type="email" formControlName="email" autocomplete="off"
                        class="block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>
                <!-- / -->

                <!-- Password Field -->
                <div class="relative mb-6">
                    <label for="password" class="block text-gray-700 text-sm font-medium mb-1">Password</label>
                    <div class="relative">
                        <input id="password" type="password" formControlName="password" autocomplete="off"
                            class="block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm pr-10 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                    </div>
                </div>
                <!-- / -->

                <!-- Confirm Password Field -->
                <div class="relative mb-6">
                    <label for="confirmPassword" class="block text-gray-700 text-sm font-medium mb-1">
                        Confirm Password
                    </label>
                    <input id="confirmPassword" type="password" formControlName="confirmPassword" autocomplete="off"
                        class="block w-full px-4 py-2 border border-gray-300 rounded-md shadow-sm pr-10 focus:outline-none focus:ring-2 focus:ring-blue-500" />
                </div>
                <!-- / -->

                <div class="flex items-center mb-6">
                    <input id="terms" type="checkbox" formControlName="terms"
                        class="form-checkbox h-5 w-5 text-blue-500" />
                    <label for="terms" class="ml-2 text-gray-700">
                        I agree with
                        <a class="text-blue-500 hover:underline" routerLink="/sign-up">Terms</a>
                        and
                        <a class="text-blue-500 hover:underline" routerLink="/sign-up">Privacy Policy</a>
                    </label>
                </div>
                <button type="submit"
                    class="w-full bg-blue-500 text-white font-bold py-2 px-4 rounded-md shadow hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-blue-500">
                    Create your free account
                </button>
            </form>
        </div>
    </div>
</ng-template>

<div class="w-full">
    <div class="flex">
        <div class="h-screen max-w-full flex-col justify-between px-[30px] pt-[30px] pb-[40px] bg-cover bg-no-repeat lg:flex hidden 
            bg-[url('/static/images/public/banner_img_login.webp')] bg-no-repeat bg-center w-[60vw]">
            <div class="text-white z-10">
                <h1 class="text-5xl leading-[59px] font-medium">
                    <span class="text-[#3E51E5]">
                        Sign up
                    </span>
                </h1>
                <p class="font-medium mb-[73px] text-[#3E51E5]"> Be the hero. Save the day. </p>
            </div>
            <div>
                <p class="font-normal text-base text-[#ffffff]">©2024 SafeGuard, Inc. All Rights Reserved</p>
            </div>
        </div>

        <div class="min-w-0 flex flex-col flex-grow m-auto">
            <ng-container [ngTemplateOutlet]="FormTemplate"></ng-container>
        </div>
    </div>
</div>