th {
    border: 0.5px solid rgb(240, 240, 233) !important;
}

td {
    border: 0.5px solid rgb(245, 245, 243) !important;
}



:host ::ng-deep {
    .p-calendar {
        .p-inputtext:enabled:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: 0 0 0 0 #BFDBFE;
            border-color: #ffffff;
        }

        .p-inputtext:enabled:focus {
            outline: 0 none;
            outline-offset: 0;
            box-shadow: 0 0 0 0 #BFDBFE;
            border-color: #ffffff;
        }

        input {
            border: 0px solid rgb(255, 255, 255);
            padding: 6px;
            border-radius: 6px;
            font-size: 13px;
            width: 100%;
        }
    }

    .p-calendar {
        width: 100%;
    }

    .p-dialog-content {
        border-radius: 5px !important;
    }


    .p-dropdown-label {
        font-size: 13px;
        color: rgb(151, 151, 151);
        text-align: justify;

    }

    .p-dialog-header {
        display: none !important;

    }

    .p-dropdown {
        text-align: center;
        display: flex;
        align-items: center;
        border: 1px solid rgb(224, 224, 224);
        padding: 6px;
    }

    input {
        border: 1px solid rgb(224, 224, 224);
        padding: 6px;
        border-radius: 6px;
        font-size: 13px;
        width: 100%;
    }

    .p-dropdown-trigger {
        width: 15px;
        height: 15px;
        margin-left: 10px;
    }

    .p-dropdown-trigger-icon {
        height: 14px;
        width: 14px;
    }

    .p-dropdown-item {
        border: 1px solid #f1eeee;
        padding: 6px;
        text-align: justify;
    }

    .p-datatable-scrollable-table>.p-datatable-thead {

        z-index: 0 !important;
    }

}


:host::ng-deep {
    ::-webkit-scrollbar {
        width: 5px !important;
        height: 5px;
    }

    ::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px #1c4c74 !important;
        -webkit-border-radius: 5px !important;
        border-radius: 5px !important;
        margin-bottom: 12px;
    }

    @media only screen and (max-width: 767px) {
        ::-webkit-scrollbar-track {
            -webkit-box-shadow: inset 0 0 6px #1c4c74 !important;
            -webkit-border-radius: 5px !important;
            border-radius: 5px !important;
            margin-top: 52px;
        }
    }

    ::-webkit-scrollbar-thumb {
        -webkit-border-radius: 5px !important;
        border-radius: 5px !important;

        background: #1c4c74 !important;
    }
}