<!-- Weekly Data Table -->
<!-- Table Header -->
<div class="header-section flex justify-content-between align-items-center p-2 border-b-2">
    <div class="header-title flex justify-content-between w-[100%]">
        <div class="flex w-[50%]">
            <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                style="width: 40px !important;"
                src="https://st4.depositphotos.com/15648834/23779/v/380/depositphotos_237795814-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                alt="Bordered avatar">
            <div class="pl-2 m-auto w-[100%]">
                <span class="font-medium text-lg">{{profileData?.name}}</span>
            </div>
        </div>
        <div class="w-[50%] justify-end flex">
            <div class=" justify-end flex">
                <!-- <button type="button"
                            class="focus:outline-none text-white bg-[#1c4c74] hover:bg-green-800 focus:ring-4 focus:ring-green-300 rounded-lg text-sm px-3 me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 h-[35px]">
                            Create Task
                        </button> -->
                <!-- <button type="button" *ngIf="!checkingstatus" (click)="checkin()"
                            class="focus:outline-none text-white bg-[#1c4c74] hover:bg-green-800 focus:ring-4 focus:ring-green-300 rounded-lg text-sm px-3 me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 h-[35px]">Check
                            In
                        </button>
                        <button type="button" *ngIf="checkingstatus" (click)="checkout()"
                            class="focus:outline-none text-white bg-[#1c4c74] hover:bg-green-800 focus:ring-4 focus:ring-green-300 rounded-lg text-sm px-3 me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 h-[35px]">Check
                            Out
                        </button> -->

                <button type="button" (click)="changeIf()"
                    class="text-gray-400 bg-white border border-gray-300 focus:outline-none hover:bg-gray-100 focus:ring-4 focus:ring-gray-100  rounded-lg text-sm px-3 me-2 dark:bg-gray-800 dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 h-[35px]">
                    <svg class="w-11 h-5 text-gray-400 dark:text-white" aria-hidden="true"
                        xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 18">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                            d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3" />
                    </svg>
                </button>

            </div>
            <!-- <p-dropdown [options]="employeeDropdown" optionLabel="name"
                        placeholder="Select a Employee"></p-dropdown> -->
        </div>
    </div>
</div>

<div class="data-table h-full mt-3">
    <div class="mb-3 flex justify-between">
        <div>
            <span class="text-2xl font-medium ">Time Logs List </span>
        </div>
        <div class="flex">
            <div class="border-[0.5px] rounded-md mx-2">
                <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true" [showIcon]="true"
                    inputId="range">
                </p-calendar>
            </div>
            <div class="mr-2">
                <p-dropdown [options]="employeeDropdown" [(ngModel)]="employeeName" optionLabel="name"
                    placeholder="Select a Employee"></p-dropdown>
            </div>
            <button type="button" (click)="search()"
                class="focus:outline-none text-white bg-[#1c4c74] rounded-lg text-sm px-3 me-2 h-[35px]">
                Search
            </button>
        </div>
    </div>

    <div class="card ">
        <p-carousel 
            [value]="userdata" 
            [numVisible]="6" 
            [numScroll]="3" 
            [circular]="false" 
            [responsiveOptions]="responsiveOptions">
                <ng-template let-userdata pTemplate="item">
                    <div class="shadow-lg py-2 pb-7 px-2 rounded mx-2 my-7" [ngStyle]="isSelected(userdata) ? {'background-color': '#1c4c74', 'color': 'white'} : {}">
                        <div class="flex flex-col justify-center items-center" >
                            <img src="../../../assets/male-image.png" alt="" width="150" height="150" >
                            <span class="text-md font-medium cursor-pointer text-center text-ellipsis overflow-hidden whitespace-nowrap" style="width: 170px;" routerLink="/admin/add-users" > {{userdata.name}}</span>
                            <span class="text-xs text-center text-ellipsis overflow-hidden whitespace-nowrap" style="width: 170px;">{{userdata.designation}}</span>
                        </div>
                    </div>

                </ng-template>
        </p-carousel>
    </div>



    <!-- <div class="grid grid-cols-5 gap-4 my-4">
        @for (data of userdata; track $index) {
            <div class="shadow-md py-2 pb-7 rounded " [ngStyle]="isSelected(data) ? {'background-color': '#1c4c74', 'color': 'white'} : {}">
                <div class="flex flex-col justify-center items-center">
                    <img src="../../../assets/male-image.png" alt="" width="150" height="150" >
                    <span class="text-lg font-medium">{{data.name}}</span>
                    <span class="text-sm">{{data.designation}}</span>
                </div>
            </div>
        
        }  
    </div> -->

    <p-table scrollHeight="flex" [value]="allData" class="p-datatable-gridlines p-datatable-striped">
        <ng-template pTemplate="header">
            <tr class="p-2 bg-[#349ce4]">
                <th class="bg-[#1c4c74] p-3 text-white w-[250px]">
                    <span class="font-normal text-md">Name</span>
                </th>
                <th class="bg-[#1c4c74] p-3 text-white w-[200px]">
                    <span class="font-normal text-md">Date</span>

                </th>
                <th class="bg-[#1c4c74] p-3 text-white w-[120px]">
                    <span class="font-normal text-md">Total time</span>

                </th>

                <th class="bg-[#1c4c74] p-3 text-white">
                    <span class="font-normal text-md">Description</span>
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-log>
            <tr *ngIf="!searchValue">
                <td class="p-3">
                    {{log?.name}}
                    <!-- {{getUserName(log.id)}} -->
                </td>
                <td class="p-3">
                    {{log?.date}}
                </td>
                <td class="p-3">
                    <div>
                        <!-- {{time.spentTame}} {{time | json}} -->
                        {{ calculateTotalTime(log.data) }}
                    </div>
                </td>

                <td class=" p-3">
                    <div>
                        <ng-container *ngFor="let entry of log?.data; let i = index">
                            <div class="bg-slate-100 mb-2 p-2 rounded-md hover:bg-slate-50 cursor-pointer"
                                (click)="showingDialog(log ,entry, i)">
                                <div>
                                    <span class="font-bold text-sm">Spent Time :</span> {{ entry.spentTame }}
                                </div>
                                <div>
                                    <span class="font-bold text-sm">Project Name :</span> {{ entry.issueName }}
                                    <span class="text-red-500">
                                        ({{entry?.projectCode ? entry?.projectCode:'No Project Id'}})
                                    </span>
                                </div>
                                <div>
                                    <span class="font-bold text-sm">Description :</span> {{ entry.description }}
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" class="p-3">
    <div class="p-3">
        <span class="text-xl font-semibold block pb-3 border-b-2">Log Time</span>
        <!-- <div class="align-items-center mt-3">
            <label class="text-sm ">Employee Name</label>
            <div class="mt-1">
                <p-dropdown [options]="employeeDropdown" [(ngModel)]="employeeName" optionLabel="name"
                    optionValue="name" placeholder="Select a issue" />
            </div>
        </div> -->
        <div class="align-items-center mt-3">
            <label class="text-sm ">Project <span class="text-red-500">*</span></label>
            <div class="mt-1 ">
                <p-dropdown [options]="issueName" [(ngModel)]="issueNameVlaue" optionValue="name" optionLabel="name"
                    placeholder="Select a Project" />
            </div>
        </div>
        <div class="align-items-center mt-3">
            <label class="text-sm ">Date <span class="text-red-500">*</span></label>
            <div class="mt-1 border-[0.5px] rounded-md">
                <p-calendar [readonlyInput]="true" [(ngModel)]="dateOf" inputId="range">
                </p-calendar>
            </div>
        </div>

        <div class="align-items-center mt-3">
            <label class="text-sm ">Time Spent <span class="text-red-500">*</span></label>
            <div class="mt-1">
                <input type="text" pInputText [(ngModel)]="timeSpent" placeholder="Enter your time" />
            </div>
            <label class="text-xs ">Enter a Duration (e.g. 12h 3m )</label>
            <!-- <div *ngIf="errorMessage" class="text-danger">
            <small>{{ errorMessage }}</small>
        </div> -->
        </div>
        <div class="align-items-center mt-3">
            <label class="text-sm ">Start Time <span class="text-red-500">*</span></label>
            <div class="mt-1 border-[0.5px] rounded-md">
                <p-calendar inputId="calendar-timeonly" [(ngModel)]="startTime" hourFormat="12" class="w-[100%]"
                    placeholder="Enter your start time" [timeOnly]="true"></p-calendar>
            </div>
        </div>

        <div class="align-items-center mt-3">
            <label class="text-sm ">Description <span class="text-red-500">*</span></label>
            <div class="mt-1">
                <textarea id="message" rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 
                   dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white !important dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write your thoughts here..." [(ngModel)]="description"></textarea>
            </div>

        </div>

        <div class="mt-3 justify-end flex">
            <button type="button" (click)="visible = false"
                class="focus:outline-none border-2 bg-white rounded-lg text-sm px-3 me-2  h-[35px]">
                Cancel </button>
            <button type="button" (click)="deleteIndex()"
                class="focus:outline-none text-white bg-[#1c4c74]  rounded-lg text-sm px-3 me-2 dark:bg-green-600 h-[35px]">
                Delete
            </button>

            <button type="button" (click)="updateUI()"
                class="focus:outline-none text-white bg-[#1c4c74]  rounded-lg text-sm px-3 me-2 dark:bg-green-600  h-[35px]">
                Update
            </button>

        </div>
    </div>

</p-dialog>

<div class="container m-auto " style="display: none;">
    <div class="row m-auto">
        <div class="col-12 px-4  m-auto" style="width:840px !important; " id="htmlData">

            <div class="pb-2 w-full flex justify-between w-100">
                <div class="m-auto " style="width: 300px !important;">
                    <div>
                        <span class="text-xl font-bold text-color m-auto">
                            Weakly Report
                        </span>
                    </div>
                </div>
                <div class="justify-end flex w-full m-auto pl-3">
                    <div>
                        <img src="/assets/logo.png" alt="" width="230px" height="40px">
                    </div>
                </div>
            </div>
            <!-- Report Details is Bellow -->
            <ng-container>
                <!-- <ng-container *ngIf="report"> -->
                <div class="report-detial shadow-1 mb-3 border-round-md bg-slate-100">
                    <!-- Site Details & shift deatils -->
                    <div class="site-details">
                        <div class="col-12 flex justify-between p-3 border-round-md bg-slate-100">
                            <div class="w-4 flex justify-between w-full">
                                <div class="w-full">
                                    <div class="my-2"> <span class="text-xl font-semibold text-900">Weakly Report</span>
                                    </div>
                                    <div>
                                        <div class="flex align-items-center mb-1">
                                            <div>
                                                <span class="pr-2 text-sm text-color">Date :</span>
                                            </div>
                                            <span class="text-color text-sm">
                                                {{profileData?.name}}
                                            </span>
                                        </div>
                                        <div class="flex align-items-center">
                                            <div>
                                                <span class="text-color pr-2 text-sm">Total Time :
                                                </span>
                                            </div>
                                            <span class="text-color text-sm">
                                                {{grandTotalTime}}
                                            </span>
                                        </div>
                                        <div class="flex align-items-center mb-1">
                                            <div>
                                                <span class="text-color pr-2 text-sm ">Date Range :</span>
                                            </div>
                                            <!-- <span class="text-color text-sm">
                                                <ng-container>
                                                    {{this.rangeDates[0] | date:'mediumDate'}} - {{this.rangeDates[1] |
                                                    date:'mediumDate'}}
                                                </ng-container> </span> -->
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div>
            </div>
            <p-table scrollHeight="flex" [value]="allData" class="p-datatable-gridlines p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr class="p-2 bg-[#349ce4]">
                        <th class="bg-[#1c4c74] p-3 text-white w-[15%]">
                            <span class="font-normal text-md">Name</span>
                        </th>
                        <th class="bg-[#1c4c74] p-3 text-white w-[15%]">
                            <span class="font-normal text-md">Date</span>

                        </th>
                        <th class="bg-[#1c4c74] p-3 text-white w-[15%]">
                            <span class="font-normal text-md">Total time</span>

                        </th>

                        <th class="bg-[#1c4c74] p-3 text-white">
                            <span class="font-normal text-md">Description</span>
                        </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-log>
                    <tr *ngIf="!searchValue">
                        <td class="p-3">
                            {{log?.name}}
                        </td>
                        <td class="p-3">
                            {{ log?.date}}
                        </td>
                        <td class="p-3">
                            <div >
                                {{ calculateTotalTime(log.data) }}
                            </div>
                        </td>

                        <td class=" p-3">
                            <div>
                                <ng-container *ngFor="let entry of log?.data; let i = index">
                                    <div class="bg-slate-100 mb-2 p-2 rounded-md hover:bg-slate-50 cursor-pointer"
                                        (click)="showingDialog(log ,entry, i)">
                                        <div>
                                            <span class="font-bold text-sm">Spent Time :</span> {{ entry.spentTame
                                            }}
                                        </div>
                                        <div>
                                            <span class="font-bold text-sm">Project Name :</span> {{ entry.issueName
                                            }}
                                            <span class="text-red-500">
                                                ({{entry?.projectCode ? entry?.projectCode:'No Project Id'}})
                                            </span>
                                        </div>
                                        <div>
                                            <span class="font-bold text-sm">Description :</span> {{
                                            entry.description }}
                                        </div>
                                    </div>
                                </ng-container>
                            </div>
                        </td>
                    </tr>
                </ng-template>
            </p-table>
        </div>
    </div>
</div>