.add-btn {
    width: 35px;
    height: 35px;
    border-radius: 5px;
    opacity: 0px;
    background-color: #F7861E;
}

.heading-text {
    text-transform: uppercase;
    font-size: 20.3px;
    font-weight: 600;
    line-height: 30.44px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #000000;
}

.btn {
    width: 140px;
    height: 39.67px;
    padding: 10px 38px 10px 38px;
    border-radius: 5px;
    opacity: 0px;
    background-color: #F7861E;
    color: white;
}

.cancel {
    width: 140px;
    height: 40px;
    top: 557px;
    left: 805px;
    padding: 10px 38px 10px 38px;
    gap: 10px;
    border-radius: 5px;
    border: 1px solid #414141;
    opacity: 0px;
}

.point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    top: 410px;
    left: 177px;
    gap: 0px;
    opacity: 0px;
    background-color: #F7861E;
}

.control-section {
    margin-top: 100px;
}

pdf-viewer {
    height: 100vh;
}



:host::ng-deep{
    ngx-extended-pdf-viewer #toolbarContainer {
        padding-top: 76px;
        width: 4%;
        background-color: white;
    height: 100vh;
    padding-left: 20px;
    padding-right: 9px;
    position: absolute;
    }
    ngx-extended-pdf-viewer #toolbarViewerLeft, html[dir=rtl] ngx-extended-pdf-viewer #toolbarViewerRight {
        float: left;
        margin-left: 4px;
        display: none;
    }
    ngx-extended-pdf-viewer #toolbarViewerMiddle {
        display: none;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
    pdf-hand-tool {
        display: none;
    }
    pdf-select-tool {
        display: none;
    }
    pdf-rotate-page {
        display: none;
    }
    pdf-presentation-mode {
        display: none;
    }
    pdf-open-file {
        display: none;
    }
    pdf-print {
        display: none;
    }
    pdf-download {
        display: none;
    }
    pdf-stamp-editor {
        display: none;
    }
    pdf-toggle-secondary-toolbar {
        display: none;
    }
  
}
