<nav [ngClass]="{'w-60': sidebarOpen, 'w-15': !sidebarOpen, 'transition-all': true, 'duration-300': true}"
    class="bg-[#002552] text-white h-screen flex flex-col overflow-hidden h-[calc(100vh-80px)]">

    <!-- Header -->
    <header class="flex items-center justify-between p-4 border-b border-gray-700 overflow-hidden">
        <div class="flex items-center cursor-pointer" *ngIf="sidebarOpen">
            <span class="text-[16px] font-medium">OMNINTERACT</span>
        </div>
        <button (click)="toggleSidebar()" class="text-gray-400 focus:outline-none">
            <svg *ngIf="sidebarOpen" class="h-6 w-6 text-slate-500 transition-transform duration-300" width="24"
                height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none"
                stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="20" y1="6" x2="13" y2="6" />
                <line x1="20" y1="12" x2="11" y2="12" />
                <line x1="20" y1="18" x2="13" y2="18" />
                <path d="M8 8l-4 4l4 4" />
            </svg>

            <svg *ngIf="!sidebarOpen" class="h-6 w-6 text-slate-500 transition-transform duration-300"
                [ngClass]="{'rotate-180': sidebarOpen}" width="24" height="24" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" />
                <line x1="20" y1="6" x2="9" y2="6" />
                <line x1="20" y1="12" x2="13" y2="12" />
                <line x1="20" y1="18" x2="9" y2="18" />
                <path d="M4 8l4 4l-4 4" />
            </svg>
        </button>
    </header>

    <!-- Menu -->
    <div class="menu-bar flex-1 overflow-y-auto overflow-x-hidden">
        <div class="menu">
            <ul class="menu-links">
                <!-- Dashboard -->
                <li class="relative">
                    <a routerLink="/{{routeService.dashboard}}">
                        <button
                            class="flex items-center justify-between w-full p-4 hover:bg-gray-700 focus:outline-none">
                            <div class="flex items-center gap-3">
                                <svg class="h-6 w-6 text-slate-500" fill="none" viewBox="0 0 24 24"
                                    stroke="currentColor">
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                        d="M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z" />
                                </svg>
                                <span class="flex justify-start"
                                    [ngClass]="{'transition-all duration-300' : sidebarOpen}" *ngIf="sidebarOpen">
                                    Dashboard
                                </span>
                            </div>
                        </button>
                    </a>
                </li>



                


            </ul>
        </div>
    </div>
</nav>