<nav [ngClass]="{'w-60': sidebarOpen, 'w-15': !sidebarOpen, 'transition-all': true, 'duration-300': true}"
    class="bg-[#1c4c74] text-white h-screen flex flex-col overflow-hidden h-[calc(100vh-80px)]">

    <!-- Header -->
    <header class="flex items-center justify-center p-2 border-b border-gray-700 overflow-hidden">
      
        <!-- (click)="toggleSidebar()" -->
        <button class="text-gray-400 focus:outline-none">
        <img src="../../../../assets/figma.png" alt="" class="w-[35px] h-[30px]">
        </button>
    </header>

    <!-- Menu -->
    <div class="menu-bar flex-1 overflow-y-auto overflow-x-hidden">
        <div class="menu">
            <ul class="menu-links">
                <!-- Dashboard -->
                <li class="relative">
                    <a routerLink="/{{routeService.dashboard}}">
                        <button
                            class="flex items-center justify-between w-full p-4 hover:bg-gray-700 focus:outline-none">
                            <div class="flex items-center gap-3">
                                <svg class="h-6 w-6 text-white" fill="white" viewBox="0 0 20 20" >
                                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="0"
                                        d="m11.6 11c0-.552-.448-1-1-1-1.655 0-4.945 0-6.6 0-.552 0-1 .448-1 1v9c0 .552.448 1 1 1h6.6c.552 0 1-.448 1-1 0-2.092 0-6.908 0-9zm9.4 6c0-.552-.448-1-1-1h-6c-.538 0-1 .477-1 1v3c0 .552.448 1 1 1h6c.552 0 1-.448 1-1zm0-13c0-.552-.448-1-1-1-1.537 0-4.463 0-6 0-.552 0-1 .448-1 1v9.6c0 .552.448 1 1 1h6c.552 0 1-.448 1-1 0-2.194 0-7.406 0-9.6zm-9.4 0c0-.552-.448-1-1-1-1.655 0-4.945 0-6.6 0-.552 0-1 .448-1 1v3.6c0 .552.448 1 1 1h6.6c.552 0 1-.448 1-1 0-1.017 0-2.583 0-3.6z" />
                                </svg>
                                <span class="flex justify-start"
                                    [ngClass]="{'transition-all duration-300' : sidebarOpen}" *ngIf="sidebarOpen">
                                    Dashboard
                                </span>
                            </div>
                        </button>
                    </a>
                </li>
                <li class="relative">
                    <a routerLink="/{{routeService.checkingdetail}}">
                        <button
                            class="flex items-center justify-between w-full p-4 hover:bg-gray-700 focus:outline-none">
                            <div class="flex items-center gap-3">
                                <svg xmlns="http://www.w3.org/2000/svg" width="29" height="37" viewBox="0 0 22 22" fill="white" >
                                    <path d="M6 14h6v-6c3.309 0 6 2.691 6 6s-2.691 6-6 6-6-2.691-6-6zm16 0c0 5.523-4.478 10-10 10s-10-4.477-10-10 4.478-10 10-10 10 4.477 10 10zm-2 0c0-4.411-3.589-8-8-8s-8 3.589-8 8 3.589 8 8 8 8-3.589 8-8zm-6-11.819v-2.181h-4v2.181c1.408-.238 2.562-.243 4 0zm6.679 3.554l1.321-1.321-1.414-1.414-1.407 1.407c.536.402 1.038.844 1.5 1.328z"/>
                                </svg>
                                <span class="flex justify-start"
                                    [ngClass]="{'transition-all duration-300' : sidebarOpen}" *ngIf="sidebarOpen">
                                    Checking Time
                                </span>
                            </div>
                        </button>
                    </a>
                </li>



                <!-- Call Logs -->
                <!-- <li class="relative">
                    <button class="flex items-center justify-between w-full p-4 hover:bg-gray-700 focus:outline-none">
                        <div class="flex items-center gap-3">
                            <svg class="h-6 w-6 text-slate-500" width="24" height="24" viewBox="0 0 24 24"
                                stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round"
                                stroke-linejoin="round">
                                <path stroke="none" d="M0 0h24v24H0z" />
                                <path
                                    d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                                <line x1="15" y1="7" x2="15" y2="7.01" />
                                <line x1="18" y1="7" x2="18" y2="7.01" />
                                <line x1="21" y1="7" x2="21" y2="7.01" />
                            </svg>
                            <span class="flex justify-start" [ngClass]="{'transition-all duration-300' : sidebarOpen}"
                                *ngIf="sidebarOpen">
                                Call Logs
                            </span>
                        </div>
                    </button>
                </li> -->


            </ul>
        </div>
    </div>

    <!-- Logout Button -->
    <footer class="border-t border-gray-700">
        <button routerLink="/{{routeService.login}}"
            class="flex items-center justify-between w-full p-4 mb-4 hover:bg-gray-700 focus:outline-none">
            <div class="flex items-center gap-3" >
                <svg class="h-6 w-6 text-white" [ngClass]="{'mr-2': sidebarOpen }" fill="none" viewBox="0 0 24 24"
                    stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                        d="M11 16l-4-4m0 0l4-4m-4 4h14m-5 4v1a3 3 0 01-3 3H6a3 3 0 01-3-3V7a3 3 0 013-3h7a3 3 0 013 3v1" />
                </svg>
                <span class="flex justify-start" *ngIf="sidebarOpen">Logout</span>
            </div>
        </button>
    </footer>
</nav>