// .container {
//     height: calc(100vh - 160px);
//     overflow-y: auto;
// }

@media screen and (max-width: 767px) {
    // .container {
    //     height: calc(100vh - 260px);
    // }
}

.active {
    background-color: #FFF1E3;
}

th {
    border: 0.5px solid rgb(240, 240, 233) !important;
    // background: white;
    width: 100px !important;
}

td {
    border: 0.5px solid rgb(245, 245, 243) !important;
}

.main {
    position: absolute;
    top: 65%;
}

.pi-user {
    font-size: 11px;
    font-weight: bold;
}


.no_schedule {
    border-bottom: 3px solid #FF0000 !important;
}

.partial_schedule {
    border-bottom: 3px solid #F7861E !important;
}

.full_schedule {
    border-bottom: 3px solid #1DD200 !important;
}

.hover {
    bottom: 8px;
    right: 16px;
    font-size: 18px;
    display: none;
}

td:hover .hover {
    display: block;
}

:host ::ng-deep {
    .p-dropdown-label {
        font-size: 13px;
        color: rgb(151, 151, 151);

    }

    .p-dropdown {
        text-align: center;
        display: flex;
        align-items: center;
        border: 1px solid rgb(224, 224, 224);
        padding: 6px;
    }

    .p-dropdown-trigger {
        width: 15px;
        height: 15px;
        margin-left: 10px;
    }

    .p-dropdown-trigger-icon {
        height: 14px;
        width: 14px;
    }

    .p-dropdown-item {
        border: 1px solid #f1eeee;
        padding: 6px;
    }

    .p-datatable.p-datatable-striped .p-datatable-tbody>tr:nth-child(even) {
        background: #F8FAFB;
    }

    .p-datatable .p-datatable-tbody>tr {
        background: #ffffff;
    }

    .background-today-color {
        background-color: #FFF1E3;
        color: #F7861E;
    }

    .active-border-color {
        border-bottom: 3px solid #1DD200;
    }

    .inactive-border-color {
        border-bottom: 3px solid #FF3030;
    }

    .p-datatable-scrollable-table>.p-datatable-thead {

        z-index: 0 !important;
    }

    .p-datatable .p-datatable-tbody>tr>td {
        text-align: left;
        // border: 1px solid #dee2e6;
        border-width: 0 0 1px 0;
        padding: 0.2rem 0.2rem;
    }

    .p-datatable-scrollable-table>.p-datatable-thead {
        z-index: 5 !important;
    }



}

.pervice-icon {
    background-color: #2A2A2A;
    border-radius: 5px;
    color: white;
    padding: 5px 6px;
}

.date-format {
    background-color: #ffffff;
    border: 1px solid #2A2A2A;
    color: black;
    border-radius: 5px;
    padding: 5px 10px;
}

.mat-form-field-type-mat-date-range-input .mat-form-field-infix {
    width: 200px;
    display: contents !important;
}

.addIcon {
    position: absolute;
    bottom: 1rem;
    right: 1rem;
}



.data-table {
    height: calc(100vh - 16%);
}

::ng-deep .tooltip {
    background: rgb(255 255 255 / 90%) !important;
    box-shadow: 0px 0px 2px 2px #93939346 !important;
    color: #252525 !important;
    margin: 9px !important;
    font-size: 12px;
}

::ng-deep {
    .p-tieredmenu .p-menuitem-link {
        font-size: small;
    }

    .p-tieredmenu .p-menuitem.p-menuitem-active>.p-menuitem-link .p-menuitem-text {
        color: #d8641d;
    }
}

.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}