th {
    border: 0.5px solid rgb(240, 240, 233) !important;
    width: 100px !important;
}

td {
    border: 0.5px solid rgb(245, 245, 243) !important;
}


:host ::ng-deep {
    .p-calendar {
        width: 100%;
    }

    .p-dialog-content {
        border-radius: 5px !important;
    }


    .p-dropdown-label {
        font-size: 13px;
        color: rgb(151, 151, 151);
        text-align: justify;

    }

    .p-dialog-header {
        display: none !important;

    }

    .p-dropdown {
        text-align: center;
        display: flex;
        align-items: center;
        border: 1px solid rgb(224, 224, 224);
        padding: 6px;
    }

    input {
        border: 1px solid rgb(224, 224, 224);
        padding: 6px;
        border-radius: 6px;
        font-size: 13px;
        width: 100%;
    }

    .p-dropdown-trigger {
        width: 15px;
        height: 15px;
        margin-left: 10px;
    }

    .p-dropdown-trigger-icon {
        height: 14px;
        width: 14px;
    }

    .p-dropdown-item {
        border: 1px solid #f1eeee;
        padding: 6px;
        text-align: justify;
    }

    .p-datatable-scrollable-table>.p-datatable-thead {

        z-index: 0 !important;
    }

}