<div class="w-full relative h-full">
    <div class="h-full">
        <!-- Table Header -->
        <div class="header-section flex justify-content-between align-items-center p-2 border-b-2">
            <div class="header-title flex justify-content-between w-[100%]">
                <div class="flex w-[50%]">
                    <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                        style="width: 40px !important;"
                        src="https://st4.depositphotos.com/15648834/23779/v/380/depositphotos_237795814-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                        alt="Bordered avatar">
                    <div class="pl-2 m-auto w-[100%]">
                        <span class="font-medium text-lg">{{profileData?.name}}</span>
                    </div>
                </div>
                <div class="w-[50%] justify-end flex">
                    <div class=" justify-end flex">
                        <!-- <button type="button"
                            class="focus:outline-none text-white bg-[#1c4c74] hover:bg-green-800 focus:ring-4 focus:ring-green-300 rounded-lg text-sm px-3 me-2 dark:bg-green-600 dark:hover:bg-green-700 dark:focus:ring-green-800 h-[35px]">
                            Create Task
                        </button> -->

                        <button type="button" (click)="showdialog()"
                            class="focus:outline-none text-white bg-[#1c4c74] hover:bg-[#1c4c74] focus:ring-4 focus:bg-[#1c4c74] rounded-lg text-sm px-3 me-2 dark:bg-[#1c4c74] dark:hover:bg-[#1c4c74] dark:focus:bg-[#1c4c74] h-[35px]">Time
                            Log</button>
                        <button type="button" (click)="onSelectionChange()"
                            class="text-gray-400 bg-white  focus:outline-none hover:bg-[#1c4c74] focus:ring-4 focus:bg-[#1c4c74]  rounded-lg text-sm px-3 me-2 dark:bg-[#1c4c74] dark:text-white dark:border-gray-600 dark:hover:bg-gray-700 dark:hover:border-gray-600 dark:focus:ring-gray-700 h-[35px]">
                            <svg class="w-11 h-5 text-gray-400 dark:text-white" aria-hidden="true"
                                xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 18">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                    stroke-width="2"
                                    d="M8 1v11m0 0 4-4m-4 4L4 8m11 4v3a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2v-3" />
                            </svg>
                        </button>

                    </div>
                    <!-- <p-dropdown [options]="employeeDropdown" optionLabel="name"
                        placeholder="Select a Employee"></p-dropdown> -->
                </div>
            </div>
        </div>

        <!-- Table Header -->
        <div class="header-section flex justify-content-between align-items-center p-2">
            <div class="header-title flex justify-content-between w-[100%]">
                <div class="flex w-[100%] justify-end">
                    <div class="w-[200px]">
                        <p-calendar [(ngModel)]="rangeDates" selectionMode="range" [readonlyInput]="true"
                            inputId="range">
                        </p-calendar>
                    </div>
                    <div class="pl-3">
                        <button type="button" (click)="searchRecord()"
                            class="focus:outline-none text-white bg-[#1c4c74] hover:bg-[#1c4c74] focus:ring-4 focus:bg-[#1c4c74] rounded-lg text-sm px-3 me-2 dark:bg-[#1c4c74] dark:hover:bg-[#1c4c74] dark:focus:bg-[#1c4c74] h-[35px]">
                            Search
                        </button>
                    </div>
                </div>

            </div>

        </div>

        <!-- Weekly Data Table -->
        <div class="data-table h-full">
            <p-table [value]="[days]" scrollHeight="flex" class="p-datatable-gridlines p-datatable-striped">
                <ng-template pTemplate="header">
                    <tr class="p-2 ">
                        <div>
                            <th *ngFor="let day of days" class="bg-[#1c4c74] p-3 text-white w-[300px]"
                                style="min-width: 300px !important; max-width: 300px !important;">

                                <span class="text-md font-normal">{{day}}</span>
                            </th>
                        </div>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body">
                    <tr>
                        <div>
                            <td *ngFor="let day of days" class="w-[300px]">
                                <div class="p-3">
                                    <div *ngIf="(weeklyData[day] && weeklyData[day].length > 0); else noData">
                                        <div *ngFor="let entry of weeklyData[day]; let i = index ">
                                            <div class="bg-slate-100 p-2 m-1 rounded-md">
                                                <div class="entry">
                                                    <div class="flex justify-between">
                                                        <div>
                                                            <span class="font-semibold text-sm">{{ entry.issueName
                                                                }}</span>
                                                        </div>
                                                        <div class="flex">
                                                            <div (click)="deleteIndex(entry,i)" class="cursor-pointer">
                                                                <img src="../../../../../assets/trash.png" alt=""
                                                                    class="w-[15px]">
                                                            </div>
                                                            <div class="ml-2 cursor-pointer" (click)="update(entry,i)">
                                                                <svg class="h-[15px] w-[15px] text-red-500" fill="none"
                                                                    viewBox="0 0 24 24" stroke="currentColor">
                                                                    <path stroke-linecap="round" stroke-linejoin="round"
                                                                        stroke-width="2"
                                                                        d="M11 5H6a2 2 0 00-2 2v11a2 2 0 002 2h11a2 2 0 002-2v-5m-1.414-9.414a2 2 0 112.828 2.828L11.828 15H9v-2.828l8.586-8.586z" />
                                                                </svg>

                                                            </div>
                                                        </div>

                                                    </div>
                                                    <div>
                                                        <span class="text-xs">{{ entry.description }}</span>
                                                    </div>
                                                    <div class="text-right text-sm font-semibold">
                                                        <span>{{ entry.spentTame }}</span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <ng-template #noData>
                                        <div class="text-gray-500">
                                            No data available
                                        </div>
                                    </ng-template>
                                </div>
                            </td>
                        </div>

                    </tr>
                </ng-template>
            </p-table>
        </div>


    </div>
</div>


<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" class="p-3">
    <div class="p-3">
        <span class="text-xl font-semibold block pb-3 border-b-2">Log Time</span>
        <!-- <div class="align-items-center mt-3">
            <label class="text-sm ">Employee Name</label>
            <div class="mt-1">
                <p-dropdown [options]="employeeDropdown" [(ngModel)]="employeeName" optionLabel="name"
                    optionValue="name" placeholder="Select a issue" />
            </div>
        </div> -->
        <div class="align-items-center mt-3">
            <label class="text-sm ">Project <span class="text-red-500">*</span></label>
            <div class="mt-1">
                <p-dropdown [options]="issueName" [(ngModel)]="issueNameVlaue" optionValue="name" optionLabel="name"
                    placeholder="Select a Project" />
            </div>
        </div>
        <div class="align-items-center mt-3">
            <label class="text-sm ">Date <span class="text-red-500">*</span></label>
            <div class="mt-1">
                <p-calendar [(ngModel)]="dateOf" [maxDate]="dateTime" [disabled]="updateBtn" [readonlyInput]="true"
                    inputId="range">
                </p-calendar>
            </div>
        </div>

        <div class="align-items-center mt-3">
            <label class="text-sm ">Time Spent <span class="text-red-500">*</span></label>
            <div class="mt-1">
                <input type="text" pInputText [(ngModel)]="timeSpent" placeholder="Enter your time" />
            </div>
            <label class="text-xs ">Enter a Duration (e.g. 3m 12h)</label>
        </div>
        <div class="align-items-center mt-3">
            <label class="text-sm ">Start Time <span class="text-red-500">*</span></label>
            <div class="mt-1">
                <p-calendar inputId="calendar-timeonly" [(ngModel)]="startTime" hourFormat="12" class="w-[100%]"
                    placeholder="Enter your start time" [timeOnly]="true"></p-calendar>
            </div>
        </div>

        <div class="align-items-center mt-3">
            <label class="text-sm ">Description <span class="text-red-500">*</span></label>
            <div class="mt-1">
                <textarea id="message" rows="4"
                    class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                    placeholder="Write your thoughts here..." [(ngModel)]="description"></textarea>
            </div>
        </div>

        <div class="mt-3 justify-end flex">
            <button type="button" (click)="fetchTimelogData('false')"
                class="focus:outline-none border-1 bg-white rounded-lg text-sm px-3 me-2  h-[35px]">
                Cancel </button>
            <button type="button" *ngIf="!updateBtn" (click)="addTimelog()" [disabled]="isProcessing"
                class="focus:outline-none text-white bg-[#1c4c74] rounded-lg text-sm px-3 me-2 dark:bg-green-600 h-[35px]">
                Create
            </button>

            <button type="button" *ngIf="updateBtn" (click)="updateUI()"
                class="focus:outline-none text-white bg-[#1c4c74]  rounded-lg text-sm px-3 me-2 dark:bg-green-600  h-[35px]">
                Update
            </button>

        </div>
    </div>

</p-dialog>



<div class="container m-auto " style="display: none;">
    <div class="row m-auto">
        <div class="col-12 px-4  m-auto" style="width:840px !important; " id="htmlData">

            <div class="pb-2 w-full flex justify-between w-100">
                <div class="m-auto " style="width: 300px !important;">
                    <div>
                        <span class="text-xl font-bold text-color m-auto">
                            Weakly Report
                        </span>
                    </div>
                </div>
                <div class="justify-end flex w-full m-auto pl-3">
                    <div>
                        <img src="/assets/logo.png" alt="" width="230px" height="40px">
                    </div>
                </div>
            </div>
            <!-- Report Details is Bellow -->
            <ng-container>
                <!-- <ng-container *ngIf="report"> -->
                <div class="report-detial shadow-1 mb-3 border-round-md bg-slate-100">
                    <!-- Site Details & shift deatils -->
                    <div class="site-details">
                        <div class="col-12 flex justify-between p-3 border-round-md bg-slate-100">
                            <div class="w-4 flex justify-between w-full">
                                <div class="w-full">
                                    <div class="my-2"> <span class="text-xl font-semibold text-900">Weakly Report</span>
                                    </div>
                                    <div>
                                        <div class="flex align-items-center mb-1">
                                            <div>
                                                <span class="pr-2 text-sm text-color">Date :</span>
                                            </div>
                                            <span class="text-color text-sm">
                                                {{profileData?.name}}
                                            </span>
                                        </div>
                                        <div class="flex align-items-center">
                                            <div>
                                                <span class="text-color pr-2 text-sm">Total Time :
                                                </span>
                                            </div>
                                            <span class="text-color text-sm">
                                                {{grandTotalTime}}
                                            </span>
                                        </div>
                                        <div class="flex align-items-center mb-1">
                                            <div>
                                                <span class="text-color pr-2 text-sm ">Total Hours :</span>
                                            </div>
                                            <span class="text-color text-sm">
                                                <ng-container>
                                                    40h
                                                </ng-container> </span>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
            <div>
            </div>
            <table class="table table-bordered w-full">
                <tr class="table-primary" class="header bg-[#1c4c74]" style=" border-radius: 5px;">
                    <th style="width: 20%;" class="p-3 pt-0 text-white text-lg font-medium">Date</th>
                    <th style="width: 20%;" class="p-3 pt-0 text-white text-lg font-medium">Total Time</th>
                    <th class="p-3 pt-0 text-white text-lg font-medium" style="width: 60%;">Description</th>

                </tr>
                <ng-container>
                    <tr style="border-bottom: 1px solid #f0eeee !important;" *ngFor="let data of processedData">
                        <th style="width: 20%;">
                            {{data?.date}}
                        </th>
                        <th style="width: 20%;">
                            {{data?.totalSpendTime}}
                        </th>

                        <td style="width: 60%;">
                            <div class="p-3 ">
                                <div *ngFor="let data of data?.data">
                                    <div class="p-2  pt-0 bg-slate-100 my-1 pb-3">
                                        <div>

                                            <span class="font-medium">Project: </span> {{data.issueName}}
                                        </div>
                                        <div>
                                            <span class="font-medium">Time Spent: </span> {{data.spentTame}}
                                        </div>
                                        <div>
                                            <span class="font-medium">Description: </span>
                                            {{data.description}}
                                        </div>
                                    </div>

                                </div>
                            </div>

                        </td>
                    </tr>
                </ng-container>
            </table>
        </div>
    </div>
</div>