<div class="w-full p-4 grid grid-cols-12 gap-4 h-[100%]">

    <div class="col-span-12 flex justify-start mb-4">
        <div class="w-full">
            <div class="border-2 border-blue-500 p-2 flex items-center justify-center rounded-sm w-[150px]">
                <span class="text-blue-500">Agent Performance</span>
            </div>
        </div>
    </div>

    <div class="col-span-12 md:col-span-3 mb-4">
        <app-nps-progressbar></app-nps-progressbar>
        <app-nps-statistics></app-nps-statistics>
    </div>

    <app-team-statistics class="col-span-12 md:col-span-6"></app-team-statistics>

    <div class="col-span-12 md:col-span-3 mb-4">
        <app-nps-progressbar></app-nps-progressbar>
        <app-nps-statistics></app-nps-statistics>
    </div>
</div>