<div class="w-full relative h-screen h-[calc(77vh-80px)]">
    <div>
        <!-- Table Header -->
        <div class="header-section flex justify-content-between align-items-center p-2 border-b-2">
            <div class="header-title flex justify-content-between w-[100%]">
                <div class="flex w-[50%]">
                    <img class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                        style="width: 40px !important;"
                        src="https://st4.depositphotos.com/15648834/23779/v/380/depositphotos_237795814-stock-illustration-unknown-person-silhouette-glasses-profile.jpg"
                        alt="Bordered avatar">
                    <div class="pl-2 m-auto w-[100%]">
                        <span class="font-medium text-lg">{{profileData?.name}}</span>
                    </div>
                </div>
                <div class="w-[50%] justify-end flex">
                    <div class=" justify-end flex">
                        <button type="button" (click)="visible = true"
                            class="focus:outline-none text-white bg-[#1c4c74] hover:bg-[#1c4c74] rounded-lg text-sm px-3 me-2 h-[35px]">
                            Create User
                        </button>

                    </div>
                    <!-- <p-dropdown [options]="employeeDropdown" optionLabel="name"
                        placeholder="Select a Employee"></p-dropdown> -->
                </div>
            </div>
        </div>
        <!-- Table Header -->
        <div class="justify-between flex border-b-2 pb-2">
            <div class="w-[50%] mt-3">
                <span class="text-2xl font-medium ">All Users </span>
            </div>
            <div class="flex w-[50%] justify-end mt-2">
                <div class="mr-2">
                    <p-dropdown [options]="allData" [(ngModel)]="projectfilter" [(ngModel)]="username"
                        optionValue="name" optionLabel="name" placeholder="Select a Employee"></p-dropdown>
                </div>
                <div class="pl-3">
                    <button type="button" (click)="search()"
                        class="focus:outline-none text-white bg-[#1c4c74] hover:bg-[#1c4c74] focus:ring-4 focus:bg-[#1c4c74] rounded-lg text-sm px-3 me-2 dark:bg-[#1c4c74] dark:hover:bg-[#1c4c74] dark:focus:bg-[#1c4c74] h-[35px]">
                        Search
                    </button>
                </div>
            </div>
        </div>
        <div class="flex">
            <div class="flex flex-wrap  w-[100%]">

                <div *ngFor="let data of filterData" (click)="patchForm(data)"
                    class="flex mr-2 justify-between mt-3 shadow-2 border-2 p-3 rounded-md lg:w-[32.33%] md:w-[48%] w-[100%] hover:bg-sky-500 hover:text-white cursor-pointer">
                    <div class="w-[60%]">
                        <div>
                            <span class="text-xl font-medium">{{data?.name}}</span>
                        </div>
                        <div>
                            <span class="text-sm">Front-End Developer</span>
                        </div>
                        <div class="mt-2">
                            <span class="text-[14px] font-medium mr-2">Phone</span><span
                                class="text-[14px]">{{data?.phoneNo}}</span>
                        </div>
                        <div>
                            <span class="text-[14px] font-medium mr-2">Email</span><span
                                class="text-[14px]">{{data?.email}}</span>
                        </div>
                        <div>
                            <span class="text-[14px] font-medium mr-2">User</span><span
                                class="text-[14px]">{{data?.username}}</span>
                        </div>
                        <div>
                            <span class="text-[14px] font-medium mr-2">Department</span><span class="text-[14px]">Web
                                Development</span>
                        </div>

                    </div>
                    <div class="w-[40%]">
                        <div *ngIf="data?.gender == 'male'" class="m-auto justify-center flex">
                            <img src="../../../../assets/male-image.png" alt="" width="130px" height="100px">
                        </div>
                        <div *ngIf="data?.gender == 'female'" class="m-auto justify-center flex">
                            <img src="../../../../assets/female-image.png" alt="" width="120px" height="100px">
                        </div>
                    </div>
                </div>
            </div>

        </div>


    </div>
</div>

<p-dialog [modal]="true" [(visible)]="visible" [style]="{ width: '25rem' }" class="p-3">
    <form [formGroup]="profileForm">
        <div class="p-3">
            <span class="text-xl font-semibold block pb-3 border-b-2">Project</span>
            <div class="mt-2">
                <label class="text-sm ">Required fields are marked with an asterisk <span
                        class="text-red-500">*</span></label>
            </div>
            <div class="mt-2">
                <label class="text-sm ">Name <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter your name" formControlName="name">
            </div>
            <div class="mt-2">
                <label class="text-sm ">Gander <span class="text-red-500">*</span></label>
                <p-dropdown [options]="gender" formControlName="gender" optionValue="gendar" optionLabel="gendar"
                    placeholder="Select a Gender"></p-dropdown>
            </div>

            <div class="mt-2">
                <label class="text-sm ">Role in Office<span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter the office role" formControlName="designation">
            </div>

            <div class="mt-2">
                <label class="text-sm ">Department<span class="text-red-500">*</span></label>
                <p-dropdown [options]="department" formControlName="department" optionValue="department"
                    optionLabel="department" placeholder="Select a department"></p-dropdown>
            </div>

            <div class="mt-2">
                <label class="text-sm ">Phone No <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter the phone no" formControlName="phoneNo">
            </div>

            <div class="mt-2" *ngIf="!update">
                <label class="text-sm ">Email <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter the email" formControlName="email">
            </div>

            <div class="mt-2" *ngIf="update">
                <label class="text-sm ">Email <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter the email" formControlName="email" readonly>
            </div>

            <div class="mt-2" *ngIf="!update">
                <label class="text-sm ">User-Name <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter the user name" formControlName="role">
            </div>
            <div class="mt-2" *ngIf="update">
                <label class="text-sm ">User-Name <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter the user name" formControlName="username" readonly>
            </div>

            <div class="mt-2">
                <label class="text-sm ">Password <span class="text-red-500">*</span></label>
                <input type="text" placeholder="Enter the password" formControlName="password">
            </div>


            <div class="mt-3 justify-end flex">
                <button type="button" (click)="dialogCancel()"
                    class="focus:outline-none border-2 bg-white rounded-lg text-sm px-3 me-2  h-[35px]">
                    Cancel </button>

                <button type="button" (click)="deleteProjectData()" *ngIf="update"
                    class="focus:outline-none text-white bg-[#1c4c74]  rounded-lg text-sm px-3 me-2 dark:bg-green-600  h-[35px]">
                    Delete
                </button>

                <button type="button" (click)="postProjectData()" *ngIf="!update"
                    class="focus:outline-none text-white bg-[#1c4c74]  rounded-lg text-sm px-3 me-2 dark:bg-green-600  h-[35px]">
                    Save
                </button>

                <button type="button" *ngIf="update" (click)="updateProjectData()"
                    class="focus:outline-none text-white bg-[#1c4c74]  rounded-lg text-sm px-3 me-2 dark:bg-green-600  h-[35px]">
                    Update
                </button>

            </div>

        </div>
    </form>

</p-dialog>