<p-table [columns]="cols" [value]="days" dataKey="vin">
    <ng-template pTemplate="header" let-columns>
        <tr>
            <td>
                <div class="flex justify-between w-full bg-red-500 p-2 rounded-lg text-white">
                    <div>
                        Name
                    </div>
                    <div>
                        Phone No
                    </div>
                    <div>
                        time
                    </div>
                    <div>
                        email
                    </div>
                    <div>

                    </div>

                </div>
            </td>

        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-expanded="expanded" let-columns="columns">
        <tr>
            <td>
                <div class="flex justify-between w-full p-2 bg-gray-700 my-1 rounded-lg text-white">
                    <div>
                        <i class="pi pi-phone"></i>
                        Muhammad Imran
                    </div>
                    <div>
                        03016107018
                    </div>
                    <div>
                        03:45
                    </div>
                    <div>
                        imrange736gmail.com
                    </div>
                    <div>
                        <a href="#" [pRowToggler]="rowData">
                            <i [ngClass]="expanded 
            				? 'pi pi-fw pi-chevron-circle-down' 
            				: 'pi pi-fw pi-chevron-circle-right'"></i>
                        </a>
                    </div>

                </div>
            </td>
        </tr>
    </ng-template>
    <ng-template pTemplate="rowexpansion" let-rowData let-columns="columns">
        <tr>
            <td [attr.colspan]="columns.length + 1">
                <div class="p-fluid flex justify-between gap-3" style="font-size:16px; 
							padding:20px">
                    <div class="w-[33%] md-9 border-r-2">
                        <div class="w-full">
                            <div class="col-12">
                                <b>Title:</b>
                                {{ rowData.title }}
                            </div>
                            <div class="col-12">
                                <b>Category:</b>
                                {{ rowData.category }}
                            </div>
                            <div class="col-12">
                                <b>Rating:</b>
                                {{ rowData.rating }}
                            </div>
                        </div>
                    </div>
                    <div class="w-[33%] md-9 border-r-2">
                        <div class="grid">
                            <div class="col-12">
                                <b>Title:</b>
                                {{ rowData.title }}
                            </div>
                            <div class="col-12">
                                <b>Category:</b>
                                {{ rowData.category }}
                            </div>
                            <div class="col-12">
                                <b>Rating:</b>
                                {{ rowData.rating }}
                            </div>
                        </div>
                    </div>
                    <div class="w-[33%] md-9 border-r-2">
                        <div class="grid">
                            <div class="col-12">
                                <b>Title:</b>
                                {{ rowData.title }}
                            </div>
                            <div class="col-12">
                                <b>Category:</b>
                                {{ rowData.category }}
                            </div>
                            <div class="col-12">
                                <b>Rating:</b>
                                {{ rowData.rating }}
                            </div>
                        </div>
                    </div>
                </div>
            </td>
        </tr>
    </ng-template>
</p-table>